.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-title {
  font-weight: bold;
  font-size: 28;
}
.btn {
  background-color: white;
  font-weight: 600;
  font-size: 20;
  color: #0d1321;
  padding: 17px 24px;

  border-width: 1px;
}
.btn1 {
  background-color: #0d1321;
  color: white;
  border-radius: 8px;
  padding: 21px 24px;
}

.bnr-head {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.p-description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.img1 {
  width: 240px;
  height: 240px;
}
.body-content {
  background-image: url(../images/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  margin: auto;
}
.im1 {
  display: flex;
  justify-content: center;
}
.btn-position {
  text-align: center;
}
.fst {
  padding: 26px 221px 44px 221px;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
.second-page {
  padding: 80px 97px 80px 97px;
  margin: auto;
}
.first-part {
  display: flex;
  justify-content: space-between;
}
.section-head {
  text-align: center;
  font-size: 32;
  color: #0d1321;
}
.section-description {
  text-align: center;
  font-size: 16;
  color: #0d1321;
}
.des {
  font-size: 16;
  opacity: 70%;
}
.th1 {
  text-align: center;
}
